body{
    background: #eee !important;
}
#Modify{
    margin-left: 15px;
    margin-top: 100px;
    max-width: 380px;
    padding: 15px 35px 45px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#ModifyPassword{
    margin-right: -13px;
    margin-bottom: 35px;
    font-size: 25px;
    font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
#submitButton{
    display: inline-block;
    height: 35px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 86px;
    border: 1px solid #C9C9C9;
}
#resetButton{
    display: inline-block;
    height: 35px;
    line-height: 38px;
    padding: 0 18px;
    background-color: whitesmoke;
    color: gray;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 17px;
    border: 1px solid #C9C9C9;
}
.laberValue{
    font-size: 16px;
    width: 74px;
    height: 24px;
    border: solid 1px #f3f3f3;
    background-color: #f3f3f3;
    display: inline-block;
    font-family:-apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}
#userName{
    width: 143px;
    height: 23px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#Modifypw{
    width: 143px;
    height: 23px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#resolvePassword{
    width: 143px;
    height: 23px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#Modifypw:hover{
    outline: 0;
    border: 1px solid #4CC9F0;
    box-shadow: 0px 0px 10px 0px #4CC9F0;
    -moz-transition:border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-transition:border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

#resolvePassword:hover{
    outline: 0;
    border: 1px solid #4CC9F0;
    box-shadow: 0px 0px 10px 0px #4CC9F0;
    -moz-transition:border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -webkit-transition:border ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
a{
    text-decoration: none;
}
#RetureToHome{
    display: inline-block;
    height: 35px;
    line-height: 38px;
    padding: 0 18px;
    background-color: whitesmoke;
    color: gray;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px;
    border: 1px solid #C9C9C9;
}
#RetureToHome:hover{
    border-color:#7FF25F ;
}
#showMassage{
    margin-right: 18px;
    margin-bottom: -27px;
    margin-top:0px;
    font-size: 9px;
    color: red;
}